@import "tailwindcss";

:root {
  --background: #100f10;
  --foreground: #fff;
  --default: 16px;
  --primary: #f50;
  --accent: #75767c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --text-default: var(--default);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code), sans-serif;
  font-size: var(--text-default);
}

.container {
  max-width: 1300px;
  padding: 0px 10px;
  margin: 0px auto;
}
