{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/styles/globals.css",
  "tailwindFunctions": ["clsx", "cva", "cn"]
}
